body{
	background-color: #f4f4f8;
	font-size: 14px;
}
.card{border: none;}
.card .card-body{
	background-color: #FFF;
	border-radius: 8px;
	padding: 30px;
}

.card-title{
	margin-bottom: 20px;
}

.table .thumbnail{width: 80px; border-radius: 3px;padding:0;border:none;}
.table td, .table thead th{vertical-align: middle;border: none;}
.table thead tr{background-color: #f1f1f1;border:none;}
.table-striped tbody tr{background-color: #f7f5f5 !important;}
.table-striped tbody tr:nth-of-type(odd){
	background-color: #fafafa;
}
.table-striped select {
	border:1px solid #f5f5f5;
	padding: 3px 10px;
}
table.dataTable thead th, table.dataTable thead td {
	border:none;
}
.margin-bottom {
	margin-bottom: 10px;
}
.no-wrap{white-space: nowrap;}
.no-wrap form, .no-wrap .btn{display: inline !important;}
#wrapper{
	margin: 30px auto;
}
.badge{padding:5px 20px;}
.actions a{padding-left:10px;}
#datatable_filter input[type=search], .dataTables_length select{
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	padding: 3px 5px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	border: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
background: #e0e0e0;
border: none;
border-radius: 5px;
color: #000 !important;
}
